<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kwm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <kwm.Properties.Settings>
            <setting name="kwmShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kwmLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kwmLogConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kwmConsoleLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ktlstunnelLogging" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kasAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="kasPort" serializeAs="String">
                <value />
            </setting>
            <setting name="useCustomKas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpShowHiddenFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeToDisplayNotification" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ShowEventListStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventListDockStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FullDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VncServerDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayToStartPopup" serializeAs="String">
                <value>10</value>
            </setting>
        </kwm.Properties.Settings>
    </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>
